.form-input {
    display: block;
    background: $dark;
    border: 1px solid lighten($dark, 6);
    padding: 12px 18px;
    min-width: 280px;
    color: #fff;
    font-size: 15px;
    &:focus {
        border: 1px solid lighten($dark, 20);
    }
}

textarea.form-input {
    min-height: 100px;
}

.modal__footer {
    text-align: center;
}